@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

body {
	transition-duration: .5s;
	background-color: #333;
}

.page {
	width: 80vw;
	font-family: 'Play', sans-serif;
	font-size: 25px;
	color: #fff;
	margin: auto;
	text-align: center;
	padding-bottom: 70px;
}

h1 {
	margin-top: 70px;
	font-weight: 800;
	margin-bottom: 20px;
	font-size: 30px;
	width: 100%;
}

li {
	margin: 10px 0px;
	width: 100%;
	transition-duration: .5s;
}

a {
	text-decoration: none;
	color: #fff;
}

li:hover {
	text-shadow: 0 0 30px #fff;
	transform: translate(+8px, +3px);
	background-image: url(../img/holographic.jpg);
	background-size: cover;
	background-attachment: fixed;
}