@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');

.page {
	width: 80vw;
	font-family: 'Manrope', sans-serif;
	font-size: 25px;
	color: #333;
	margin: auto;
	text-align: center;
	padding-bottom: 70px;
}

h1 {
	margin-top: 70px;
	font-weight: 800;
	margin-bottom: 20px;
	font-size: 30px;
}

li {
	margin: 10px 0px;
	width: 100%;
}

a {
	text-decoration: none;
	color: #333;
}

li:hover {
	background-color: #dedfff;
	transform: translate(+8px, +3px);
	font-weight: 800;
}